NAMESPACE=namrbd-system
RELEASE_NAME=namrbd-csi
CSI_DRIVER_IMAGE_REPOSITORY=ghcr.io/nosway/namrbd-csi-driver
CSI_DRIVER_IMAGE_TAG=local
IMAGE_PULL_POLICY=IfNotPresent
NAMRBD_SBS_SERVICE_ENDPOINT=namrbd-sbs-service:9897
NAMRBD_SBS_SERVICE_ENDPOINTS=
NAMRBD_GATEWAY_URL=http://namrbd-gateway:9701
NAMRBD_CLUSTER_ID=namrbd-community
NAMRBD_SBS_CLUSTER_ID=sbs-community
DRIVER_NAME=csi.namrbd.io
CONTROLLER_REPLICAS=1
CSI_PROVISIONER_TIMEOUT=60s
CSI_ATTACHER_ENABLED=true
CSI_SNAPSHOTTER_ENABLED=true
CSI_RESIZER_ENABLED=true
CSI_NODE_ENABLED=true
CREDENTIALS_ENABLED=false
CREDENTIALS_EXISTING_SECRET=namrbd-csi-credentials
DISCARD_EXPOSURE_STATE=disabled
DISCARD_VALIDATION_PROFILE=operator-validated
DISCARD_MOUNT_OPTIONS=
