NAMESPACE=namrbd-system
RELEASE_NAME=namrbd-csi
NAMRBD_CSI_EDITION=community
CSI_DRIVER_IMAGE_REPOSITORY=ghcr.io/nosway/namrbd-csi-driver
CSI_DRIVER_IMAGE_TAG=v1.0.0
CSI_DRIVER_IMAGE_DIGEST=sha256:e6a1e2111f896a54b725bb8f28e19461ad27bd8786d1f682d6ba1b34470fb958
IMAGE_PULL_POLICY=IfNotPresent
NAMRBD_SBS_SERVICE_ENDPOINT=namrbd-sbs-service:9897
NAMRBD_SBS_SERVICE_ENDPOINTS=
NAMRBD_GATEWAY_URL=http://namrbd-gateway:9701
NAMRBD_CLUSTER_ID=namrbd-community
NAMRBD_SBS_CLUSTER_ID=sbs-community
DRIVER_NAME=csi.namrbd.io
CONTROLLER_REPLICAS=1
CSI_PROVISIONER_TIMEOUT=60s
CSI_ATTACHER_ENABLED=true
CSI_SNAPSHOTTER_ENABLED=true
CSI_RESIZER_ENABLED=true
CSI_EC_STORAGECLASS_ENABLED=false
CSI_NODE_ENABLED=true
CREDENTIALS_ENABLED=false
CREDENTIALS_EXISTING_SECRET=namrbd-csi-credentials
DISCARD_EXPOSURE_STATE=disabled
DISCARD_VALIDATION_PROFILE=operator-validated
DISCARD_MOUNT_OPTIONS=
