COMPOSE_PROJECT_NAME=namrbd-quickstart

NAMRBD_IMAGE_TAG=local
NAMRBD_QUICKSTART_BIND_ADDRESS=127.0.0.1

NAMRBD_QUICKSTART_CLUSTER_ID=namrbd-quickstart
NAMRBD_QUICKSTART_SBS_CLUSTER_ID=sbs-quickstart
NAMRBD_QUICKSTART_SERVICE_NODE_ID=sbs-service-1
NAMRBD_QUICKSTART_DATA_NODE_ID=sbs-data-1
NAMRBD_QUICKSTART_GATEWAY_ID=quickstart-gateway
NAMRBD_QUICKSTART_GATEWAY_ADVERTISE_ADDRESS=namrbd-gateway

NAMRBD_QUICKSTART_SBS_ADMIN_GRPC_PORT=19443
NAMRBD_QUICKSTART_SBS_ADMIN_HTTP_PORT=19081
NAMRBD_QUICKSTART_SBS_DATA_GRPC_PORT=19551
NAMRBD_QUICKSTART_SBS_DATA_HTTP_PORT=19082
NAMRBD_QUICKSTART_GATEWAY_HTTP_PORT=19701
NAMRBD_QUICKSTART_GATEWAY_DATA_PORT=19700
NAMRBD_QUICKSTART_INCLUDE_GATEWAY=1
